*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0px 10px; 
}

/*===header style===*/

.header__container {
    height: 80px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#BCD8E8;
}
.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#BCD8E8;
    z-index: 2; 
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    max-width: 100%;    
}
.header__logo-link,
.header__contact {
    z-index: 3;
}
.header__logo-link {
    max-width: 50px;
}
.header__tel {
    color:#105074;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}
.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
}
.header__burger:before,
.header__burger:after {
    content: '';
    background-color: #F2543B;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: 0.3s;
}
.header__burger:before {
    top: 0;
}
.header__burger:after {
    bottom: 0;
}
.header__burger.active span {
    transform: scale(0);
}
.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.lock {
    overflow: hidden; 
    padding-right: 17px; 
}
.header__burger span {
    position: absolute;
    background-color:#F2543B;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: 0.3s;
}
.header__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 20%;
    height: 100%;
    background-color:#105074;
    padding: 90px 10px 20px 10px;
    transition: 0.3s;
    overflow: auto;
}
.header__menu.active {
    top:0;
}
.header__list {
    display: block;
    position: relative;
}
.header__list li {
    list-style: none;
    margin: 0px 0px 20px 20px;
}
.header__link:hover {
    color:#F2543B;
}
.header__link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

/*===offer style===*/

.offer {
    padding-top: 120px;
    background-color:#BCD8E8; 
}
.offer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.offer__main {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer__img-child {
    width: 100%; 
}
.offer__str {
    color: #105074;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.offer__caption {
    color: #105074;
    font-size: 90px;
    font-weight: bold;
    line-height: 0.8;
    margin-bottom: 20px;
}
.offer__text {
    color: #105074;
    font-size: 25px;
    font-weight: bold; 
    margin-bottom: 20px;
}  
.offer__btm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 416px;
    height: 62px;
    border:solid #ffffff 4px;
    background-color:  #F2543B;
    outline: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.offer__btm:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

/*===advantages style===*/

.advantages {
    background-color:#E3F5FF;
}
.advantages__container {
    display: flex;
    padding-top: 60px;
}
.advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advantages__str {
    color: #105074;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.advantages__text {
    color: #105074;
    font-size: 25px;
    text-align: center;
    margin-bottom: 60px;
}
.advantages__img {
    margin-bottom: 20px;
}
.advantages__col-1 {
    margin-right: 140px;
}

/*===opinion style===*/

.opinion__container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.opinion__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.opinion__caption {
    color: #105074;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.opinion__line {
    width: 100%;
    background-color:#F2543B;
    height: 4px;
}
.opinion__main {
    display: flex;
    align-items: center; 
}
.opinion__foto {
    max-width: 100%;
}
.opinion__text {
    display: flex;
    color: #105074;
    font-size: 30px;
    background-color: #E3F5FF;
    max-width: 700px;
    margin-bottom: 15px;
}
.opinion__name-red {
   color:  #F2543B;
   font-size: 22px;
   font-weight: bold;
}
.opinion__name-blue {
    color:  #105074;
    font-size: 20px;
}

/*===fact style===*/

.fact__container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.row {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fact__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fact__text {
    display: flex;
    flex-direction: column;
    color:  #105074;
    font-size: 20px;
}
.fact__caption {
    color: #105074;
    font-size: 55px;
    margin-bottom: 15px;
}
.fact__header {
    color:  #ffffff;
    font-size: 45px;
    margin-bottom: 20px;
    background: #F2543B;
}
.fact-blue {
    background-color: #105074;
}

/*===form style===*/

.form {
    background-color: #6DA3C1;
}
.form__container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
}
.form__caption {
    color: #ffffff;
    font-size: 45px;
}
.form__subcaption {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 20px;
}
.form__wrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.form__input,
.form__btn {
    border: none;
    height: 60px;
    outline: none;
}
.form__btn {
    border:solid #ffffff 4px;
    background-color:  #F2543B;
    cursor: pointer;
    color:#fff;
    font-weight: 700;
    font-size: 22px;
    padding: 0 35px;
}
.form__input {
    font-size: 17px;
    padding-left: 35px;
}
.form__privacy {
    margin-bottom: 50px;
}

/*===treners style===*/

.treners__container {
    margin-top: 50px;
}
.treners__items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.treners__item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    background-color: #105074;
    margin-bottom: 20px;
}
.treners__item:last-child {
    margin-right: 0;
}
.trener__foto__wrap {
    height: 400px;
    overflow: hidden;
}
.trener__foto {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.treners__caption {
    margin-top: 10px;
    color:#FFFFFF;
    font-size: 22px;
    font-weight: bold;
}
.treners__subcaption {
    color: #6DA3C1;
    font-size: 20px;
    margin-bottom: 15px;
}


/*===footer style===*/

.footer {
    background-color: #0B364F;
}
.footer__container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F6E1AE;
}
.footer__contact {
    display: flex;
    flex-direction: column;
}
.footer__mail,
.footer__tel {
    text-decoration: none;
    color: #F6E1AE;
    font-size: 22px;
}
.footer__mail {
    margin-bottom: 10px;
}
.footer__main {
    display: flex;
    flex-direction: column;
}
.footer__privacy,
.footer__oferta {
    color: #ffffff;
    text-decoration: none;
}
.footer__link {
    margin-right: 10px;
}
.footer__link:last-child {
    margin-right: none;
}


@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    .form__btn {
        margin-top: 20px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .form__wrap {
        flex-direction: column;
    }
    input {
        margin-bottom: 10px;
    }
    .header__link {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: none;
    }
    .offer__wrap-child {
        display: none;
    }
    .offer__container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .offer__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__link {
        font-size: 11px;
    }
}

@media (max-width: 600px) {
    .header__container {
        height: 40px;
    }
    .offer__btm {
        margin-bottom: 10px;
    }
    .advantages__container {
        display: flex;
        flex-direction: column;
    }
    .advantages__col-1 {
        margin-right: 0;
    }
    .fact__icon {
        display: none;
    }
    .row {
        flex-direction: column;
    }
    .fact__caption {
        display: none;
    }
    .opinion__main {
        margin-bottom: 10px;
    }
    .form__input {
        margin: 10px 15px;
    }
    .form__btn {
        margin: 10px 15px;
    }
    .treners {
        display: none;
    }
    .footer__container {
        flex-direction: column;
        text-align: center;
    }
    .footer__main {
        margin-bottom: 10px;
    }
    .header__menu {
        width: 100%;
    }
    .header__link {
        font-size: 16px;
    }
}
@media (max-width: 444px) {
    .offer__caption {
        font-size: 30px;
    }
    .offer__str,
    .offer__text,
    .advantages__str,
    .advantages__text,
    .opinion__text {
        font-size: 20px;
    }
    .offer__btm {
        width: 250px;
    }
    .opinion__caption,
    .form__caption {
        font-size: 22px;
    }
    .offer {
        padding-top: 50px;
    }
    .opinion__foto__wrap {
        display: none;
    }
    .fact__header {
        font-size: 25px;
    }
}
